<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>248018901622-e6ne8q0k8oc3po4liarsnbktr1bmhb36.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.248018901622-e6ne8q0k8oc3po4liarsnbktr1bmhb36</string>
	<key>API_KEY</key>
	<string>AIzaSyAg25663yHaHxOOLbdPm_AoUgZmeyK-d2k</string>
	<key>GCM_SENDER_ID</key>
	<string>248018901622</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.khoanguyen.mychatapp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-20f6e</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-20f6e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:248018901622:ios:539763c18262dfed</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp-20f6e.firebaseio.com</string>
</dict>
</plist>